---
apiVersion: v1
kind: Secret
metadata:
  name: pve-exporter-config
  namespace: monitoring
type: Opaque
stringData:
  pve.yml: |
    default:
      user: root@pam
      token_name: monitoring
      token_value: {{ pve_api_token }}
      verify_ssl: false
